*{
    margin: 0;
    padding: 0;
    background-color: #343045;  
}
header{
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 91px 0 91px;
    

}

ul{
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: space-between;
    
}
li{
    padding: 20px;
    text-transform: uppercase;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-container{
    display: flex;
    align-items: center;
}

.button-container{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color:white;
    
}
.contact-btn{
    margin: 2px solid #fff;
    padding: 16px 35px;
    border-radius: 40px;
    
}
.join-btn,.build-your-world-btn{
    padding: 16px 35px;
    border-radius: 40px;
    background: linear-gradient(#8176AF, #C0B7E8);
}
.hero{
    margin: 0 91px 0 91px;
}
.hero-section{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

}
.hero-img{
    margin-top: 154px;
}

span.h1-text-color{
    text-transform: uppercase;
    background: linear-gradient(#8176af , #C0B7E8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.hero-header{
    font-size: 40px; 
    margin-top: 146px;
    justify-content: center;
    color: #fff;

}
.hero-text{
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}
.btn-arrow{
    display: flex;
    flex-direction: row;
}
.hero-btn{
    display: flex;
    align-items: center;
}